@model PersonaListViewModel

<h1>@ViewData["Title"] <a class="btn btn-outline-primary btn-sm" asp-action="Create"><i class="fa fa-plus"></i> Crea nuova</a></h1>

<div class="row persona">

    <div class="col-md-2">
        <h4>Nome</h4>
    </div>
    <div class="col-md-2">
        <h4>Cognome</h4>
    </div>
    <div class="col-md-2">
        <h4>Data di nascita</h4>
    </div>
    <div class="col-md-2">
        <h4>Telefono</h4>
    </div>
    <div class="col-md-2">
        <h4>Email</h4>
    </div>
    <div class="col-md-1">
        <h4>Numero preferito</h4>
    </div>
</div>

@foreach(PersonaViewModel persona in Model.Persone.Results)
{
<hr>
<div class="row persona">

    <div class="col-md-2">
        <p>@persona.Nome</p>
    </div>
    <div class="col-md-2">
        <p>@persona.Cognome</p>
    </div>
    <div class="col-md-2">
        <p>@FormatData.CambiaFormatoData(persona.Data_di_nascita)</p>
    </div>
    <div class="col-md-2">
        <p>@persona.Telefono</p>
    </div>
    <div class="col-md-2">
        <p>@persona.Email</p>
    </div>
    <div class="col-md-1">
        <p>@persona.Numero_preferito</p>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <a class="btn btn-outline-primary" asp-action="Modifica" asp-route-id=@persona.PersonaID>Modifica</a>
    </div>
    
</div>
}


@{
    int totalPages = (int) Math.Ceiling(Model.Persone.TotalCount / (decimal) Model.Input.Limit);
    int currentPage = Model.Input.Page;

}
<nav aria-label="Paginazione">
    <ul class="pagination d-flex justify-content-center mt-3">
        
        @for(int p = Math.Max(1, currentPage-4); p <= Math.Min(totalPages, currentPage+4); p++)
        {
            if (p == currentPage)
            {
                <li class="page-item active" aria-current="page">
                    <a class="page-link" asp-route-page="@p">@p <span class="sr-only">(current)</span></a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-route-page="@p">@p</a>
                </li>
            }
        }
        
    </ul>
</nav>



@if (!string.IsNullOrEmpty(ViewBag.ToastScript))
    {
        <script>
            function mostraToastConferma(msg) {
                toastr.success(msg, 'Conferma');
            }

            @Html.Raw(ViewBag.ToastScript)
        </script>
    }
