@model List<PersonaViewModel>
@using WebAppPPA.Models.Services

<h1>@ViewData["Title"] <a class="btn btn-outline-primary btn-sm" asp-action="Create"><i class="fa fa-plus"></i> Crea nuova</a></h1>

<div class="row persona">

    <div class="col-md-2">
        <h4>Nome</h4>
    </div>
    <div class="col-md-2">
        <h4>Cognome</h4>
    </div>
    <div class="col-md-2">
        <h4>Data di nascita</h4>
    </div>
    <div class="col-md-2">
        <h4>Telefono</h4>
    </div>
    <div class="col-md-2">
        <h4>Email</h4>
    </div>
 
</div>

@foreach(PersonaViewModel persona in Model)
{
<hr>
<div class="row persona">

    <div class="col-md-2">
        <p>@persona.Nome</p>
    </div>
    <div class="col-md-2">
        <p>@persona.Cognome</p>
    </div>
    <div class="col-md-2">
        <p>@FormatData.CambiaFormatoData(persona.Data_di_nascita)</p>
    </div>
    <div class="col-md-2">
        <p>@persona.Telefono</p>
    </div>
    <div class="col-md-2">
        <p>@persona.Email</p>
    </div>
    <div class="col-md-2 d-flex align-items-center">
      <a class="btn btn-outline-primary" asp-action="Modifica" asp-route-id=@persona.PersonaID>Modifica</a>
    </div>
    
</div>
}


<nav aria-label="Page navigation">
    <ul class="pagination d-flex justify-content-center mt-3">
        <li class="page-item active" aria-current="page">
            <a class="page-link" asp-route-page="1"> 1 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-route-page="2"> 2 </a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-route-page="3"> 3 </a>
        </li>
    </ul>
</nav>
